{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ejercicio 10</h1>

    <table>
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Aula</th>
                <th>Planta</th>
                <th>Tutor</th>
                <th>Núm. alumnos</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in grupos %}
                <tr>
                    <td>{{ resultado.grupo.descripcion }}</td>
                    <td>{{ resultado.grupo.aula }}</td>
                    <td>{{ resultado.grupo.planta }}</td>
                    <td>{{ resultado.grupo.tutor }}</td>
                    <td>{{ resultado.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}