{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ejercicio 11</h1>

    <table>
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Aula</th>
                <th>Planta</th>
                <th>Tutor</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in grupos %}
                <tr>
                    <td><a href="{{ path('ejercicio11_alumnado', {'id': grupo.id }) }}">{{ grupo.descripcion }}</a></td>
                    <td>{{ grupo.aula }}</td>
                    <td>{{ grupo.planta }}</td>
                    <td>{{ grupo.tutor }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}